:root { 
  --black: #000000;
  --dark-grey: #737373;
  --light-blue: #f2f8ff;
  --light-grey: #f0f0f0;
  --primary-blue: #002e6b;
  --text-color-tabel: #231e41;
  --text-grey: #c1c1c1;
  --white: #ffffff;
 
  --font-size-l: 21px;
  --font-size-m: 16px;
  --font-size-s: 12px;
  --font-size-xl: 24px;
  --font-size-xxl: 32px;
  --font-size-xxxl: 41px;
  --font-size-xxxxl: 48px;
 
  --font-family-hyundai_sans_head_office-bold: "Hyundai Sans Head Office-Bold", Helvetica;
  --font-family-hyundai_sans_head_office-medium: "Hyundai Sans Head Office-Medium", Helvetica;
  --font-family-hyundai_sans_head_office-regular: "Hyundai Sans Head Office-Regular", Helvetica;
  --font-family-inter-medium: "Inter-Medium", Helvetica;
}
.bodymedium {
  font-family: var(--font-family-inter-medium);
  font-size: var(--font-size-xl);
  font-style: normal;
  font-weight: 500;
  letter-spacing: 0;
}

.hyundaisansheadoffice-regular-normal-port-gore-21px {
  color: var(--text-color-tabel);
  font-family: var(--font-family-hyundai_sans_head_office-regular);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 400;
}

.hyundaisansheadoffice-bold-midnight-blue-24px {
  color: var(--primary-blue);
  font-family: var(--font-family-hyundai_sans_head_office-bold);
  font-size: var(--font-size-xl);
  font-style: normal;
  font-weight: 700;
}

.hyundaisansheadoffice-bold-white-27px {
  color: var(--white);
  font-family: var(--font-family-hyundai_sans_head_office-bold);
  font-size: 27px;
  font-style: normal;
  font-weight: 700;
}

.hyundaisansheadoffice-bold-midnight-blue-32px {
  color: var(--primary-blue);
  font-family: var(--font-family-hyundai_sans_head_office-bold);
  font-size: var(--font-size-xxl);
  font-style: normal;
  font-weight: 700;
}

.hyundaisansheadoffice-bold-port-gore-23-8px {
  color: var(--text-color-tabel);
  font-family: var(--font-family-hyundai_sans_head_office-bold);
  font-size: 23.8px;
  font-style: normal;
  font-weight: 700;
}

.hyundaisansheadoffice-bold-port-gore-32px {
  color: var(--text-color-tabel);
  font-family: var(--font-family-hyundai_sans_head_office-bold);
  font-size: var(--font-size-xxl);
  font-style: normal;
  font-weight: 700;
}

.hyundaisansheadoffice-bold-white-41px {
  color: var(--white);
  font-family: var(--font-family-hyundai_sans_head_office-bold);
  font-size: var(--font-size-xxxl);
  font-style: normal;
  font-weight: 700;
}

.hyundaisansheadoffice-bold-midnight-blue-48px {
  color: var(--primary-blue);
  font-family: var(--font-family-hyundai_sans_head_office-bold);
  font-size: var(--font-size-xxxxl);
  font-style: normal;
  font-weight: 700;
}

.hyundaisansheadoffice-bold-port-gore-41px {
  color: var(--text-color-tabel);
  font-family: var(--font-family-hyundai_sans_head_office-bold);
  font-size: var(--font-size-xxxl);
  font-style: normal;
  font-weight: 700;
}

.hyundaisansheadoffice-regular-normal-black-16px {
  color: var(--black);
  font-family: var(--font-family-hyundai_sans_head_office-regular);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 400;
}

.hyundaisansheadoffice-bold-midnight-blue-18px {
  color: var(--primary-blue);
  font-family: var(--font-family-hyundai_sans_head_office-bold);
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
}

.hyundaisansheadoffice-bold-white-23-8px {
  color: var(--white);
  font-family: var(--font-family-hyundai_sans_head_office-bold);
  font-size: 23.8px;
  font-style: normal;
  font-weight: 700;
}

.hyundaisansheadoffice-regular-normal-silver-16px {
  color: var(--text-grey);
  font-family: var(--font-family-hyundai_sans_head_office-regular);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 400;
}

.hyundaisansheadoffice-bold-sonic-silver-11-4px {
  color: var(--dark-grey);
  font-family: var(--font-family-hyundai_sans_head_office-bold);
  font-size: 11.4px;
  font-style: normal;
  font-weight: 700;
}

.hyundaisansheadoffice-bold-white-32px {
  color: var(--white);
  font-family: var(--font-family-hyundai_sans_head_office-bold);
  font-size: var(--font-size-xxl);
  font-style: normal;
  font-weight: 700;
}
